section.approach
    .container 
        .title.title--with-bottom-line
            h2.title__header Our Approch
            .title__text Check Our approches step by step ( how we do it )


        ul.approach__list   
            -var text = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, aut fugit mollitia numquam blanditiis esse repellat quod pariatur ut cum unde incidunt amet exercitationem ipsa laboriosam quibusdam! Dolorem, maxime vel?'
            li.approach__item
                .approach__image 
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step step 
                .approach__text
                    .approach__title Step 1: Heading Here
                    p.approach__description=text  
            li.approach__item
                .approach__image 
                    img.approach__picture(src="../images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 2: Heading Here
                    p.approach__description=text  
            li.approach__item
                .approach__image 
                    img.approach__picture(src="../images/step-3.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 3: Heading Here
                    p.approach__description=text 
            li.approach__item
                .approach__image 
                    img.approach__picture(src="../images/step-4.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 4: Heading Here
                    p.approach__description=text 