.contacts
    a.contact(href="tel:+380675593046")
        i.fa.fa-mobile.contact__icon
        span 6337 3128
    a.contact(href="mailto: balamutdmitro0@gmail.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email
        span info@business.com

    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook